In [1]:
#data preprocessing : making the efficient data useful for making a machine learning model by cleaning data,formatting data,
#apply feature engineering..etc
import numpy as np 
import pandas as pd  
import warnings

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/house-price/House_Price.csv

In [2]:
#to avoid warnings messages
warnings.filterwarnings("ignore")

In [3]:
filepath="/kaggle/input/house-price/House_Price.csv"

In [4]:
df=pd.read_csv(filepath)

In [5]:
df.head()

,Flat_Price,EMI_Starts,BHK,css-11nfaq3,Unnamed: 4,HOUSE_TYPE,Unnamed: 6,Unnamed: 7,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,6.0,BHK,Independent House,Independent,House,for sale in,"Ballygunge, Kolkata",Build Up Area,4200 sq.ft,₹20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,3.0,BHK,Independent House,Independent,House,for sale in,"Barrackpore, Kolkata",Build Up Area,1400 sq.ft,₹3.21 K/sq.ft,Virtual Reality,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,3.0,BHK,Independent House,Independent,House,for sale in,"Santoshpur, Kolkata",Build Up Area,2500 sq.ft,₹5.40 K/sq.ft,AveNew Properties,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,5.0,BHK,Independent House,Independent,House,for sale in,"Sarsuna, Kolkata",Build Up Area,1100 sq.ft,₹5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,4.0,BHK,Independent House,Independent,House,for sale in,"Madhyamgram, Kolkata",Build Up Area,900 sq.ft,₹5.78 K/sq.ft,Third Eye Consulting,Housing Expert

In [6]:
df.shape

(3968, 15)

In [7]:
df.columns

Index(['Flat_Price', 'EMI_Starts', 'BHK', 'css-11nfaq3', 'Unnamed: 4',
       'HOUSE_TYPE', 'Unnamed: 6', 'Unnamed: 7', 'Purpose', 'Location',
       'Area_Type', 'Total_Sq.ft', 'Price_per_sq.ft', 'Owner_name',
       'Owner_type'],
      dtype='object')

In [8]:
#removing the columns which are not useful for making a model
df.drop(columns=["css-11nfaq3","Unnamed: 4","Unnamed: 6","Unnamed: 7"],axis=1,inplace=True)

In [9]:
df.tail()

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
3963,₹13.0 L,₹6.88 K,2 BHK,Independent House,for sale in,"Picnic Garden, Kolkata",Build Up Area,1500 sq.ft,₹866/sq.ft,Goutam Dey,Owner
3964,₹1.5 Cr,₹74.47 K,8 BHK,Independent House,for sale in,"Rajpur Sonarpur, Kolkata",Build Up Area,2560 sq.ft,₹5.86 K/sq.ft,Alak Kumar Roy,Owner
3965,₹50.0 L,₹26.48 K,5 BHK,Independent House,for sale in,"Amtala, Kolkata",Build Up Area,1900 sq.ft,₹2.63 K/sq.ft,Sarishma,Owner
3966,₹1.1 Cr,₹54.61 K,5 BHK,Independent House,for sale in,"Tollygunge, Kolkata",Build Up Area,2600 sq.ft,₹4.23 K/sq.ft,MEDIATOR REALTORS,Agent
3967,₹30.0 L,₹15.89 K,2 BHK,Independent House,for sale in,"Naihati, Kolkata",Build Up Area,950 sq.ft,₹3.16 K/sq.ft,S Mukherjee,Owner

In [10]:
df.shape

(3968, 11)

In [11]:

df.describe()

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
count,3968,3968,3968,3968,3966,3966,3968,3968,3968,3958,3968
unique,283,280,19,2,1,201,2,410,720,1209,6
top,₹1.5 Cr,₹39.72 K,3 BHK,Independent House,for sale in,"Salt Lake City, Kolkata",Build Up Area,3000 sq.ft,₹5.00 K/sq.ft,Avijit Chakraborty,Owner
freq,140,205,706,3966,3966,194,3966,222,94,144,2093

In [12]:
#droping the columns which are having same values for entire columns ,which are not useful for make a model
df.drop(columns=["HOUSE_TYPE","Purpose","Area_Type"],axis=1,inplace=True)

In [13]:
df.shape

(3968, 8)

In [14]:
df.sample(4)

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
347,₹50.5 L,₹26.74 K,5 BHK,"Sodepur, Kolkata",1088 sq.ft,₹4.64 K/sq.ft,Reliable Realtors,Housing Expert
1508,₹4.1 L,₹2.17 K,2 BHK,"Sewli Telinipara, Kolkata",1150 sq.ft,₹356/sq.ft,Falguni Mukherjee,Owner
383,₹62.55 L,₹33.12 K,3 BHK,"Sodepur, Kolkata",2880 sq.ft,₹2.17 K/sq.ft,Reliable Realtors,Housing Expert
86,₹80.0 L,₹39.72 K,3 BHK,"New Town, Kolkata",1567 sq.ft,₹5.11 K/sq.ft,New Doors Solutions,Housing Prime Agent

In [15]:
df.dtypes

Flat_Price         object
EMI_Starts         object
BHK                object
Location           object
Total_Sq.ft        object
Price_per_sq.ft    object
Owner_name         object
Owner_type         object
dtype: object

Nedd to convert the Flat_price ,EMI_Starts and price_per_sq.ft into float datatype,before we need to do the text preprocessing.

In [16]:
df[["Flat_Price","EMI_Starts","Price_per_sq.ft"]].head()

  Flat_Price  EMI_Starts Price_per_sq.ft
0    ₹8.5 Cr  ₹4.22 Lacs  ₹20.24 K/sq.ft
1    ₹45.0 L    ₹23.83 K   ₹3.21 K/sq.ft
2   ₹1.35 Cr    ₹67.02 K   ₹5.40 K/sq.ft
3    ₹60.0 L    ₹31.77 K   ₹5.45 K/sq.ft
4    ₹52.0 L    ₹27.54 K   ₹5.78 K/sq.ft

In [17]:
df["Flat_Price"]=df["Flat_Price"].str.strip("₹")
df["EMI_Starts"]=df["EMI_Starts"].str.strip("₹")
df["Price_per_sq.ft"]=df["Price_per_sq.ft"].str.strip("₹")

In [18]:
df.head()

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,8.5 Cr,4.22 Lacs,6 BHK,"Ballygunge, Kolkata",4200 sq.ft,20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,45.0 L,23.83 K,3 BHK,"Barrackpore, Kolkata",1400 sq.ft,3.21 K/sq.ft,Virtual Reality,Housing Expert
2,1.35 Cr,67.02 K,3 BHK,"Santoshpur, Kolkata",2500 sq.ft,5.40 K/sq.ft,AveNew Properties,Housing Expert
3,60.0 L,31.77 K,5 BHK,"Sarsuna, Kolkata",1100 sq.ft,5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,52.0 L,27.54 K,4 BHK,"Madhyamgram, Kolkata",900 sq.ft,5.78 K/sq.ft,Third Eye Consulting,Housing Expert

In [19]:
df["Price_per_sq.ft"]=df["Price_per_sq.ft"].str.strip("/sq.ft")

In [20]:
df.head()

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,8.5 Cr,4.22 Lacs,6 BHK,"Ballygunge, Kolkata",4200 sq.ft,20.24 K,Abhijit Chakraborty,Housing Expert
1,45.0 L,23.83 K,3 BHK,"Barrackpore, Kolkata",1400 sq.ft,3.21 K,Virtual Reality,Housing Expert
2,1.35 Cr,67.02 K,3 BHK,"Santoshpur, Kolkata",2500 sq.ft,5.40 K,AveNew Properties,Housing Expert
3,60.0 L,31.77 K,5 BHK,"Sarsuna, Kolkata",1100 sq.ft,5.45 K,Ganapati Real Estate,Housing Expert
4,52.0 L,27.54 K,4 BHK,"Madhyamgram, Kolkata",900 sq.ft,5.78 K,Third Eye Consulting,Housing Expert

In [21]:
#removing the state(Kolkata) because having same state for all rows
df["Location"]=df["Location"].str.strip(", Kolkata")

In [22]:
df.head()

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,8.5 Cr,4.22 Lacs,6 BHK,Ballygunge,4200 sq.ft,20.24 K,Abhijit Chakraborty,Housing Expert
1,45.0 L,23.83 K,3 BHK,Barrackpore,1400 sq.ft,3.21 K,Virtual Reality,Housing Expert
2,1.35 Cr,67.02 K,3 BHK,Santoshpur,2500 sq.ft,5.40 K,AveNew Properties,Housing Expert
3,60.0 L,31.77 K,5 BHK,Sarsun,1100 sq.ft,5.45 K,Ganapati Real Estate,Housing Expert
4,52.0 L,27.54 K,4 BHK,Madhyamgram,900 sq.ft,5.78 K,Third Eye Consulting,Housing Expert

In [23]:
for i in range(df["BHK"].shape[0]):
    df["Rooms"]=df['BHK'][i].split(' ')[0]
    df["Room_Type"]=df['BHK'][i].split(' ')[1]

In [24]:
df.head()

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
0,8.5 Cr,4.22 Lacs,6 BHK,Ballygunge,4200 sq.ft,20.24 K,Abhijit Chakraborty,Housing Expert,2,BHK
1,45.0 L,23.83 K,3 BHK,Barrackpore,1400 sq.ft,3.21 K,Virtual Reality,Housing Expert,2,BHK
2,1.35 Cr,67.02 K,3 BHK,Santoshpur,2500 sq.ft,5.40 K,AveNew Properties,Housing Expert,2,BHK
3,60.0 L,31.77 K,5 BHK,Sarsun,1100 sq.ft,5.45 K,Ganapati Real Estate,Housing Expert,2,BHK
4,52.0 L,27.54 K,4 BHK,Madhyamgram,900 sq.ft,5.78 K,Third Eye Consulting,Housing Expert,2,BHK

In [25]:
df.drop("BHK",axis=1,inplace=True)

In [26]:
df.sample(2)

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
1824,2.2 Cr,1.09 Lacs,Mukundapur,2500 sq.ft,8.80 K,Siddhartha Gupta,Owner,2,BHK
1403,65.0 L,34.42 K,yan Nagar,1250 sq.ft,5.20 K,Rockey,Owner,2,BHK

In [27]:
df["Total_Sq.ft"]=df["Total_Sq.ft"].str.strip("sq.ft")

In [28]:
df.sample(2)

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
2058,60.0 L,31.77 K,Sinthi,10000,600,Srikumarmitra,Owner,2,BHK
722,3.7 Cr,1.84 Lacs,Salt Lake City,5500,6.73 K,Sindhu Real Estate,Housing Prime Agent,2,BHK

In [29]:
df.isna().sum()

Flat_Price          0
EMI_Starts          0
Location            2
Total_Sq.ft         0
Price_per_sq.ft     0
Owner_name         10
Owner_type          0
Rooms               0
Room_Type           0
dtype: int64

In [30]:
df.dropna(inplace=True)

In [31]:
df.isna().sum()

Flat_Price         0
EMI_Starts         0
Location           0
Total_Sq.ft        0
Price_per_sq.ft    0
Owner_name         0
Owner_type         0
Rooms              0
Room_Type          0
dtype: int64

In [32]:
df.reset_index(drop=True,inplace=True)

In [33]:
df["Flat_Price"][:]

0        8.5 Cr
1        45.0 L
2       1.35 Cr
3        60.0 L
4        52.0 L
         ...
3951     13.0 L
3952     1.5 Cr
3953     50.0 L
3954     1.1 Cr
3955     30.0 L
Name: Flat_Price, Length: 3956, dtype: object

In [34]:
for i in range(df["Flat_Price"].shape[0]):
    if df["Flat_Price"][i].split(" ")[1]=="Cr":
        df["Flat_Price"][i]=float(df["Flat_Price"][i][:-2])*10000000
    else:
        df["Flat_Price"][i]=float(df["Flat_Price"][i][:-2])*100000
        
#the below showing is just an error ,you can proceed with further steps

In [35]:
df.head()

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
0,85000000.0,4.22 Lacs,Ballygunge,4200,20.24 K,Abhijit Chakraborty,Housing Expert,2,BHK
1,4500000.0,23.83 K,Barrackpore,1400,3.21 K,Virtual Reality,Housing Expert,2,BHK
2,13500000.0,67.02 K,Santoshpur,2500,5.40 K,AveNew Properties,Housing Expert,2,BHK
3,6000000.0,31.77 K,Sarsun,1100,5.45 K,Ganapati Real Estate,Housing Expert,2,BHK
4,5200000.0,27.54 K,Madhyamgram,900,5.78 K,Third Eye Consulting,Housing Expert,2,BHK

In [36]:
df["EMI_Starts"].str.split(" ")

0       [4.22, Lacs]
1         [23.83, K]
2         [67.02, K]
3         [31.77, K]
4         [27.54, K]
            ...
3951       [6.88, K]
3952      [74.47, K]
3953      [26.48, K]
3954      [54.61, K]
3955      [15.89, K]
Name: EMI_Starts, Length: 3956, dtype: object

In [37]:
for i in range(df["EMI_Starts"].shape[0]):
    if len(df["EMI_Starts"][i].split(" "))==2:
        if df["EMI_Starts"][i].split(" ")[1]=="k":
            df["EMI_Starts"][i]=float(df["EMI_Starts"][i].split(" ")[0])*1000
        else:
            df["EMI_Starts"][i]=float(df["EMI_Starts"][i].split(" ")[0])*100000
    else:
        df["EMI_Starts"][i]=df["EMI_Starts"][i]

In [38]:
df.head()

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
0,85000000.0,422000.0,Ballygunge,4200,20.24 K,Abhijit Chakraborty,Housing Expert,2,BHK
1,4500000.0,2383000.0,Barrackpore,1400,3.21 K,Virtual Reality,Housing Expert,2,BHK
2,13500000.0,6702000.0,Santoshpur,2500,5.40 K,AveNew Properties,Housing Expert,2,BHK
3,6000000.0,3177000.0,Sarsun,1100,5.45 K,Ganapati Real Estate,Housing Expert,2,BHK
4,5200000.0,2754000.0,Madhyamgram,900,5.78 K,Third Eye Consulting,Housing Expert,2,BHK

In [39]:
df["Price_per_sq.ft"].unique()

array(['20.24 K', '3.21 K', '5.40 K', '5.45 K', '5.78 K', '2.67 K',
       '3.00 K', '3.42 K', '5.10 K', '7.14 K', '4.44 K', '2.91 K',
       '2.60 K', '30.00 K', '3.93 K', '9.33 K', '4.65 K', '3.96 K',
       '2.29 K', '5.17 K', '13.13 K', '13.33 K', '4.26 K', '3.40 K',
       '3.50 K', '3.64 K', '2.17 K', '514', '3.33 K', '10.30 K', '4.96 K',
       '4.00 K', '3.60 K', '3.48 K', '3.75 K', '3.78 K', '4.64 K',
       '6.80 K', '9.17 K', '10.00 K', '11.19 K', '8.57 K', '3.06 K',
       '4.17 K', '18.33 K', '21.07 K', '4.03 K', '1.61 K', '5.11 K',
       '3.41 K', '7.73 K', '2.26 K', '4.22 K', '4.32 K', '4.23 K',
       '4.82 K', '4.25 K', '10.83 K', '5.24 K', '10.42 K', '5.83 K',
       '3.46 K', '6.22 K', '5.79 K', '18.59 K', '3.72 K', '12.73 K',
       '7.64 K', '6.14 K', '12.50 K', '5.80 K', '2.80 K', '2.89 K',
       '1.44 K', '3.38 K', '5.38 K', '2.36 K', '6.94 K', '2.71 K',
       '3.87 K', '6.48 K', '10.45 K', '5.95 K', '2.16 K', '8.21 K',
       '4.63 K', '3.61 K', '3.85 K', '4.06 K', '2.63 K', '7.48 K',
       '5.50 K', '7.67 K', '4.95 K', '5.00 K', '3.04 K', '6.67 K',
       '6.33 K', '4.72 K', '2.20 K', '4.75 K', '6.55 K', '5.71 K',
       '2.53 K', '204', '3.82 K', '10.28 K', '3.56 K', '5.29 K', '2.93 K',
       '5.46 K', '3.73 K', '1.28 K', '10.13 K', '3.18 K', '10.71 K',
       '25.25 K', '8.08 K', '2.65 K', '6.00 K', '6.88 K', '3.52 K',
       '1.56 K', '4.50 K', '2.75 K', '6.42 K', '22.22 K', '7.62 K',
       '4.34 K', '3.13 K', '7.65 K', '7.50 K', '12.00 K', '5.55 K',
       '4.14 K', '4.10 K', '2.72 K', '6.07 K', '4.13 K', '1.93 K',
       '4.91 K', '4.69 K', '3.70 K', '2.86 K', '1.76 K', '2.98 K',
       '7.84 K', '3.81 K', '5.04 K', '2.94 K', '3.31 K', '3.12 K',
       '3.92 K', '2.69 K', '3.65 K', '1.77 K', '3.45 K', '6.25 K',
       '1.83 K', '36.00 K', '11.79 K', '5.67 K', '11.85 K', '4.54 K',
       '11.60 K', '5.36 K', '8.33 K', '4.15 K', '1.40 K', '1.64 K',
       '10.78 K', '3.17 K', '4.33 K', '2.61 K', '5.22 K', '5.75 K',
       '3.83 K', '2.04 K', '5.25 K', '8.67 K', '8.75 K', '9.50 K',
       '9.09 K', '8.23 K', '2.11 K', '2.39 K', '4.38 K', '5.66 K',
       '5.16 K', '1.80 K', '8.00 K', '2.50 K', '3.54 K', '4.51 K',
       '3.67 K', '1.86 K', '8.86 K', '12.33 K', '2.41 K', '4.60 K',
       '6.70 K', '11.11 K', '6.60 K', '5.01 K', '4.99 K', '6.79 K',
       '9.05 K', '13.19 K', '5.09 K', '10.67 K', '5.21 K', '6.29 K',
       '8.74 K', '8.04 K', '2.59 K', '8.22 K', '2.78 K', '6.11 K',
       '6.50 K', '2.92 K', '7.33 K', '16.25 K', '18.09 K', '5.33 K',
       '8.18 K', '12.22 K', '8.25 K', '33.73 K', '10.40 K', '2.90 K',
       '40.00 K', '13.10 K', '15.88 K', '25.33 K', '21.33 K', '10.63 K',
       '22.67 K', '12.20 K', '5.42 K', '1.60 K', '3.30 K', '4.09 K',
       '3.57 K', '3.59 K', '6.73 K', '2.40 K', '3.47 K', '7.25 K',
       '6.69 K', '12.05 K', '2.43 K', '7.81 K', '1.43 K', '2.44 K',
       '4.35 K', '4.52 K', '1.50 K', '19.50 K', '350', '4.07 K', '5.90 K',
       '3.44 K', '5.57 K', '6.92 K', '1.67 K', '2.83 K', '4.57 K',
       '4.40 K', '16.20 K', '2.31 K', '3.02 K', '1.97 K', '2.22 K', '796',
       '3.39 K', '10.87 K', '2.33 K', '3.27 K', '3.80 K', '7.95 K',
       '7.27 K', '13.21 K', '2.45 K', '10.46 K', '10.68 K', '9.47 K',
       '11.33 K', '18.75 K', '4.12 K', '10.11 K', '3.89 K', '5.20 K',
       '5.28 K', '3.79 K', '4.16 K', '4.67 K', '3.68 K', '5.06 K',
       '5.31 K', '4.86 K', '5.18 K', '7.17 K', '12.91 K', '10.50 K',
       '8.59 K', '2.24 K', '2.25 K', '10.51 K', '9.40 K', '8.46 K',
       '9.88 K', '10.53 K', '10.26 K', '9.62 K', '4.31 K', '1.59 K',
       '2.68 K', '2.74 K', '7.11 K', '4.76 K', '1.33 K', '11.44 K',
       '5.23 K', '23.80 K', '2.06 K', '18.57 K', '3.03 K', '10.62 K',
       '2.73 K', '12.16 K', '3.23 K', '3.14 K', '3.20 K', '4.85 K',
       '24.00 K', '10.77 K', '14.54 K', '17.14 K', '10.82 K', '35.00 K',
       '15.00 K', '38.75 K', '2.00 K', '9.80 K', '9.48 K', '4.29 K',
       '1.46 K', '9.43 K', '13.53 K', '2.38 K', '33.35 K', '7.08 K',
       '8.13 K', '11.25 K', '7.00 K', '5.70 K', '2.62 K', '1.78 K',
       '3.09 K', '1.85 K', '2.28 K', '3.22 K', '8.89 K', '9.52 K',
       '7.74 K', '5.44 K', '7.04 K', '5.41 K', '8.80 K', '17.20 K',
       '3.24 K', '1.92 K', '13.64 K', '7.02 K', '8.40 K', '2.95 K',
       '4.21 K', '4.28 K', '806', '13.89 K', '2.34 K', '1.37 K', '4.62 K',
       '5.91 K', '16.00 K', '3.88 K', '4.05 K', '6.32 K', '6.19 K',
       '15.71 K', '8.51 K', '3.15 K', '6.82 K', '5.86 K', '3.43 K', '406',
       '9.14 K', '5.54 K', '8.64 K', '3.71 K', '6.58 K', '10.80 K',
       '6.46 K', '5.61 K', '9.25 K', '1.91 K', '12.63 K', '30.55 K',
       '2.55 K', '356', '9.41 K', '8.48 K', '6.43 K', '8.28 K', '3.26 K',
       '2.64 K', '1.10 K', '21.67 K', '33.33 K', '3.08 K', '1.57 K',
       '3.10 K', '5.87 K', '5.76 K', '961', '2.82 K', '13.43 K', '2.14 K',
       '6.93 K', '781', '1.00 K', '16.18 K', '2.18 K', '6.31 K', '1.19 K',
       '7.22 K', '4.80 K', '9.38 K', '20.00 K', '3.25 K', '2.48 K',
       '2.12 K', '2.27 K', '4.70 K', '6.15 K', '2.46 K', '8.93 K',
       '1.53 K', '6.95 K', '6.38 K', '7.23 K', '312', '1.51 K', '1.47 K',
       '1.48 K', '16.67 K', '5.82 K', '12.70 K', '15.19 K', '14.58 K',
       '1.25 K', '10.29 K', '17.50 K', '18.11 K', '1.74 K', '2.77 K',
       '16.82 K', '6.40 K', '7.69 K', '2.88 K', '840', '3.95 K', '7.83 K',
       '156', '1.22 K', '10.59 K', '7.60 K', '3.05 K', '5.47 K', '1.38 K',
       '8.87 K', '16.44 K', '8.41 K', '45.05 K', '2.58 K', '3.58 K',
       '9.70 K', '5.60 K', '4.90 K', '2.32 K', '4.18 K', '3.98 K',
       '2.13 K', '2.70 K', '21.54 K', '9.79 K', '2.85 K', '500', '600',
       '5.96 K', '1.08 K', '7.94 K', '8.78 K', '1.87 K', '4.89 K',
       '2.15 K', '3.77 K', '1.04 K', '2.08 K', '1.82 K', '4.41 K',
       '6.75 K', '4.81 K', '31.82 K', '7.58 K', '833', '9.67 K', '5.88 K',
       '7.75 K', '18.18 K', '991', '1.88 K', '5.77 K', '3.49 K', '2.37 K',
       '7.86 K', '555', '3.99 K', '2.42 K', '2.19 K', '1.73 K', '2.76 K',
       '4.84 K', '5.26 K', '1.35 K', '12.96 K', '347', '583', '3.74 K',
       '8.10 K', '4.49 K', '2.79 K', '17.21 K', '270', '4.97 K',
       '18.42 K', '22.73 K', '1.79 K', '1.96 K', '3.19 K', '9.04 K',
       '14.93 K', '6.18 K', '4.46 K', '4.27 K', '20.83 K', '1.58 K',
       '1.52 K', '714', '5.49 K', '6.86 K', '2.56 K', '1.17 K', '13.42 K',
       '30.45 K', '36.67 K', '4.55 K', '987', '3.07 K', '3.29 K',
       '26.92 K', '4.20 K', '9.20 K', '7.05 K', '9.87 K', '4.39 K',
       '2.35 K', '5.98 K', '4.42 K', '4.08 K', '1.95 K', '9.29 K',
       '18.16 K', '11.75 K', '1.39 K', '3.35 K', '14.33 K', '9.72 K',
       '8.50 K', '73.33 K', '25.00 K', '11.20 K', '24.26 K', '1.89 K',
       '1.68 K', '733', '4.74 K', '14.00 K', '1.36 K', '3.32 K', '3.66 K',
       '14.17 K', '1.16 K', '11.80 K', '2.81 K', '32.50 K', '6.51 K',
       '5.92 K', '9.08 K', '7.89 K', '4.48 K', '21.60 K', '10.20 K',
       '3.28 K', '10.94 K', '5.14 K', '14.29 K', '8.98 K', '7.54 K',
       '40.83 K', '7.41 K', '7.06 K', '26.67 K', '27.78 K', '13.85 K',
       '17.56 K', '851', '11.07 K', '466', '6.08 K', '5.07 K', '10.19 K',
       '11.47 K', '1.27 K', '700', '4.88 K', '13.16 K', '5.64 K',
       '2.97 K', '93.75 K', '10.39 K', '1.94 K', '9.15 K', '12.84 K',
       '2.30 K', '2.87 K', '7.40 K', '5.27 K', '9.71 K', '1.75 K',
       '11.43 K', '3.16 K', '20.93 K', '9.00 K', '8.70 K', '11.67 K',
       '13.75 K', '14.81 K', '12.60 K', '9.56 K', '2.57 K', '38.46 K',
       '9.23 K', '5.15 K', '2.66 K', '11.00 K', '1.84 K', '902',
       '28.00 K', '6.76 K', '9.03 K', '8.56 K', '7.43 K', '6.49 K',
       '7.31 K', '5.56 K', '3.53 K', '4.71 K', '636', '3.11 K', '10.91 K',
       '12.67 K', '3.36 K', '875', '11.63 K', '2.84 K', '8.52 K',
       '16.47 K', '4.43 K', '2.05 K', '10.43 K', '7.78 K', '8.61 K',
       '9.26 K', '1.90 K', '6.09 K', '3.69 K', '11.36 K', '4.02 K',
       '5.59 K', '4.61 K', '8.95 K', '8.69 K', '7.88 K', '45.45 K',
       '8.68 K', '11.73 K', '13.46 K', '2.10 K', '4.78 K', '1.03 K',
       '12.86 K', '2.23 K', '15.15 K', '7.34 K', '2.21 K', '7.42 K',
       '866'], dtype=object)

In [40]:
for i in range(df["Price_per_sq.ft"].shape[0]):
    if len(df["Price_per_sq.ft"][i].split(" "))==2:
        if df["Price_per_sq.ft"][i].split(" ")[1]=="k":
            df["Price_per_sq.ft"][i]=float(df["Price_per_sq.ft"][i].split(" ")[0])*1000
        else:
            df["Price_per_sq.ft"][i]=float(df["Price_per_sq.ft"][i].split(" ")[0])*100000
    else:
        df["Price_per_sq.ft"][i]=df["Price_per_sq.ft"][i]

In [41]:
df.head()

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
0,85000000.0,422000.0,Ballygunge,4200,2024000.0,Abhijit Chakraborty,Housing Expert,2,BHK
1,4500000.0,2383000.0,Barrackpore,1400,321000.0,Virtual Reality,Housing Expert,2,BHK
2,13500000.0,6702000.0,Santoshpur,2500,540000.0,AveNew Properties,Housing Expert,2,BHK
3,6000000.0,3177000.0,Sarsun,1100,545000.0,Ganapati Real Estate,Housing Expert,2,BHK
4,5200000.0,2754000.0,Madhyamgram,900,578000.0,Third Eye Consulting,Housing Expert,2,BHK

In [42]:
df.dtypes

Flat_Price         object
EMI_Starts         object
Location           object
Total_Sq.ft        object
Price_per_sq.ft    object
Owner_name         object
Owner_type         object
Rooms              object
Room_Type          object
dtype: object

In [43]:
df["Flat_Price"]=df["Flat_Price"].astype(float)
df["EMI_Starts"]=df["EMI_Starts"].astype(float)
df["Price_per_sq.ft"]=df["Price_per_sq.ft"].astype(float)

df["Rooms"]=df["Rooms"].astype(int)

In [44]:
df.dtypes

Flat_Price         float64
EMI_Starts         float64
Location            object
Total_Sq.ft         object
Price_per_sq.ft    float64
Owner_name          object
Owner_type          object
Rooms                int64
Room_Type           object
dtype: object

In [45]:
df.head()

,Flat_Price,EMI_Starts,Location,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type,Rooms,Room_Type
0,85000000.0,422000.0,Ballygunge,4200,2024000.0,Abhijit Chakraborty,Housing Expert,2,BHK
1,4500000.0,2383000.0,Barrackpore,1400,321000.0,Virtual Reality,Housing Expert,2,BHK
2,13500000.0,6702000.0,Santoshpur,2500,540000.0,AveNew Properties,Housing Expert,2,BHK
3,6000000.0,3177000.0,Sarsun,1100,545000.0,Ganapati Real Estate,Housing Expert,2,BHK
4,5200000.0,2754000.0,Madhyamgram,900,578000.0,Third Eye Consulting,Housing Expert,2,BHK